$styles: capabilities;
.#{$styles} {
  padding-top: 80px;
  margin-bottom: 90px;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__list:not(:last-child) {
    margin-bottom: 30px;
  }
  &__item {
    display: block;
    width: 70%;
    @media screen and (min-width: 768px) {
      width: 33.333%;
    flex: 0 0 25%;
    }
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover  .icon {
      filter: none;
    }
    &:hover .capabilities__subtitle{
      color: rgb(255, 85, 85);
      text-decoration: none;
    }
  }
  &__icon-wrapper {
    width: 90px;
    height: 90px;
    margin-bottom: 16px;
    cursor: auto;
  }
  .icon {
    filter: grayscale(1) brightness(250%);
    transition-duration: .3s;
    transition-property: filter;
  }
  &__subtitle {
    width: 100%;
    max-width: 230px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    color: #2678bd;
    font-size: 20px;
    line-height: 1.41;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    margin-bottom: 10px;
  }
  &__text {
    text-align: center;
    font-family: 'Nunito Sans',sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 1.45;
    font-weight: 300;
  }
}